{%extends 'base.html'%}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{%static 'css/goals.css'%}">
{% endblock extra_css %}

{% block content %}
    <h1>Goals</h1>
    <div class="create_goal_button"><button type="button" id="open_modal_btn">  + Create Goal</button></div>
    <ul class="goals_list">
        <li class="goals_list_item">
            <h2 class="goal_title">Goal 1</h2>
            <ul class="goals_sublist">
                <li class="goals_sublist_item progress">
                    <div class="progress_info">
                        <span>Progress</span>
                        <span>25%</span> 
                    </div>
                    <div class="progress_bar_bg">
                        <div class="progress_bar_fill" style="width: 25%;"></div>
                    </div>
                </li>
                <li class="goals_sublist_item">Current 100$</li>
                <li class="goals_sublist_item">Target 400$</li>
                <li class="goals_sublist_item">Remaining 300$</li>
                <li class="goals_sublist_item">Days left 100</li>
            </ul>
            <div class="buttons">
                <button class="add_fund_button" type="button">Add Funds</button>
                <button class="edit_button" type="button">Edit</button>
                <button class="delete_button" type="button">Delete</button>
                </div>
            </li>
            
            <li class="goals_list_item">
                <h2 class="goal_title">Goal 2</h2>
                <ul class="goals_sublist">
                    <li class="goals_sublist_item progress">
                        <div class="progress_info">
                            <span>Progress</span>
                            <span>75%</span> 
                        </div>
                        <div class="progress_bar_bg">
                            <div class="progress_bar_fill" style="width: 75%;"></div>
                        </div>
                    </li>
                    <li class="goals_sublist_item">Current 300$</li>
                    <li class="goals_sublist_item">Target 400$</li>
                    <li class="goals_sublist_item">Remaining 100$</li>
                    <li class="goals_sublist_item">Days left 10</li>
                </ul>
                <div class="buttons">
                    <button class="add_fund_button" type="button">Add Funds</button>
                    <button class="edit_button" type="button">Edit</button>
                    <button class="delete_button" type="button">Delete</button>
                </div>
            </li>
            
            <li class="goals_list_item">
                <h2 class="goal_title">Goal 3</h2>
                
                <ul class="goals_sublist">
                    <li class="goals_sublist_item progress">
                        <div class="progress_info">
                            <span>Progress</span>
                            <span>50%</span> 
                        </div>
                        <div class="progress_bar_bg">
                            <div class="progress_bar_fill" style="width: 50%;"></div>
                        </div>
                    </li>
                    <li class="goals_sublist_item">Current 200$</li>
                    <li class="goals_sublist_item">Target 400$</li>
                    <li class="goals_sublist_item">Remaining 200$</li>
                    <li class="goals_sublist_item">Days left 2</li>
                </ul>
                <div class="buttons">
                    <button class="add_fund_button" type="button">Add Funds</button>
                    <button class="edit_button" type="button">Edit</button>
                    <button class="delete_button" type="button">Delete</button>
                </div>
            </li>
        </ul>
        
        <div class="modal" id="goal_modal">
            <div class="content">
                <span class="close-btn" id="close_modal_btn">&times;</span>
                <h2>Create New Goal</h2>
                <form id="create_goal_form">
                    <div class="inputs">
                        <label for="goal_title">Goal Title</label>
                        <input type="text" id="goal_title">
                        <label for="goal_target">Target Amount ($)</label>
                        <input type="number" id="goal_target">
                        <label for="goal_start_date">Start Date</label>
                        <input type="date" id="goal_category">
                        <label for="goal_deadline">Deadline</label>
                        <input type="date" id="goal_category">
                        <button type="submit" id="submit_btn" class="submit_btn">Create Goal</button>
                        <button type="button" id="cancel_btn" class="cancel_btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    {% block extra_js %}
        <script src="{% static 'js/reports.js' %}"></script>
    {% endblock extra_js %}
{% endblock content %}