<aside class="SideBar">
    <div class="sidebarLogo">
        <h2>Wafarly Shokran</h2>
        <p>for personal finance</p>
    </div>
    <ul>
        <li class="sideBar-item {% if request.resolver_match.url_name == 'dashboard' %}active{%endif%}" >
            <a href="{% url 'dashboard' %}">
                <span>dashboard</span>
            </a>
        </li>
        <li class="sideBar-item {% if request.resolver_match.url_name == 'transactions' %}active{%endif%}">
            <a href="{% url 'transactions' %}">
                <span>transactions</span>
            </a>
        </li>
        <li class="sideBar-item {% if request.resolver_match.url_name == 'budget' %}active{%endif%}">
            <a href="{% url 'budget_list' %}">
                <span>Budget</span>
            </a>
        </li>
        <li class="sideBar-item {% if request.resolver_match.url_name == 'goal_list' %}active{%endif%}">
            <a href="{% url 'goal_list' %}">Goals</a>
            </a>
        </li>
        <li class="sideBar-item {% if request.resolver_match.url_name == 'reports' %}active{%endif%}">
            <a href="{%url 'reports'%}">
                <span>reports</span>
            </a>
        </li>
    </ul>
    <div class="sideBar-footer">
        <div class="userInfo" style="margin-bottom: 15px;">
            <p>{{user.username}}</p>
            <p>{{user.email}}</p>
        </div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</aside>