<aside class="SideBar">
    <div class="sidebarLogo">
        <h2>Wafarly Shokran</h2>
        <p>for personal finance</p>
    </div>
    <ul>
        <li class="sideBar-item active">
            <a href="dashboard.html">
                <span>dashboard</span>
            </a>
        </li>
        <li class="sideBar-item">
            <a href="{% url 'transactions' %}">
                <span>transactions</span>
            </a>
        </li>
        <li class="sideBar-item">
            <a href="budget.html">
                <span>Budget</span>
            </a>
        </li>
        <li class="sideBar-item">
            <a href="{% url 'goal_list' %}">Goals</a>
            </a>
        </li>
        <li class="sideBar-item">
            <a href="{%url 'reports'%}">
                <span>reports</span>
            </a>
        </li>
    </ul>
    <div class="sideBar-footer">
        <div class="userInfo" style="margin-bottom: 15px;">
            <p>{{user.username}}</p>
            <p>{{user.email}}</p>
        </div>
        <a href="{% url 'logout' %}">Logout</a>
        </a>
    </div>
</aside>